.gallery {
  display: flex;
  justify-content: space-between;
}


img {
  border: solid black 2px;
  border-radius: 2px;
  height:400px;
  width: 400px;
  object-fit: cover;
}

.middle-section {
  flex: 50%;
}

.middle-img {
  height: 100%;
  width: 100%;
}

.imgLeft {
  flex: 25%;
}

.imgRight {
  flex: 25%;
}

.animate-imgs {
  opacity: 0.5;
  animation: animate-imgs 0.4s ease-in-out forwards;
}

@keyframes animate-imgs {
  100% {
    opacity: 1;
  }
}
